.toggle-container {    
  position: relative;
  width: 60px;
  height: 30px;  

  & input {
    display: none;    
  }

  & label {
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 1.875rem;
  cursor: pointer;  
  position: relative;
  transition: background-color 0.3s;
  
  }

  & label::after {
  content: '';
  background-color: var(--input-stroke);
  border-radius: 50%;
  height: 1.5rem;
  left: 2px;
  position: absolute;
  top: 2px;  
  width: 1.5rem;
  transition: transform 0.3s;  
  }

  & input:checked + label::after {
    transform: translateX(1.875rem);
    background-color: var(--text-heading);    
  }

  & input:checked + label {
    background-color: var(--brand-color-light);    
  }  
}

.drop-area {  
  position: relative;
  width: 7.4375rem;
  height: 2.5rem;  
  background-color: var(--shape-button);
  border-radius: .5rem;  
   

  & input {
    display: none;    
  }

  & label {
    cursor: pointer;
    width: 100%;
    height: 100%;    
    
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;    
  }

  & label::before {
    content: url(/assets/icons/upload-2.svg);
    margin-top: .25rem;  
  }  
}

.left-content {

  & legend {
    margin-bottom: 1rem;
  }
  
  & figcaption {
    margin-left: 4.375rem;
    margin-top: -1.5rem;
  }
}

#upload {  
  margin-left: 8.125rem;
  margin-top: -1.875rem;
  width: 11.875rem;  
}

.send {
  text-align: right;

 & button {  
  all: unset;
  cursor: pointer;
  position: relative;
  width: 11.0625rem;
  height: 3rem;  
  background-color: var(--brand-color-dark);
  border-radius: .5rem;
  text-align: center;
  color: var(--text-heading);  
 }

 & button::before {
  content: url(/assets/icons/ticket.svg);
  margin-right: .75rem;
  vertical-align: middle;  
 }
}